# package directories
node_modules

# Serverless directories
.serverless
.build

# cypress
cypress/screenshots

# Ide
.idea

# Build directory
.dist-client
.dist-server
.dist-translation-scripts

yarn-error.log
translations.xlsx
