# package directories
node_modules

# Serverless directories
.serverless
.build

# cypress
cypress/screenshots

# Ide
.idea

# Build directory
.dist
.dist-translation-scripts
.dist-server
.typescript

yarn-error.log
translations.xlsx
